@import './reset.css';

hr {
  width: 100%;
  margin: 0;
}

#app {
  display: flex;
  align-items: start;
  height: 100vh;
  font-family: sans-serif;
}
main {
  --gap: 20px;

  width: 100%;
  padding: 40px;
  display: flex;
  flex-wrap: wrap;
  gap: var(--gap);
}

input {
  border-radius: var(--brs);
  border: 1px solid #ccc;
  padding: 5px;
}
label + input {
  margin-top: 5px;
}

section {
  border: 1px solid #ccc;
  border-radius: 4px;
  box-shadow: 0 5px 10px 2px #cccccc30;
  width: 100%;
  padding: 40px;
}
.w50 {
  width: calc(50% - calc(var(--gap) / 2));
}