* {
  --first: #C4F1BE;
  --second: #A2C3A4;
  --third: #869D96;
  --fourth: #525B76;
  --fifth: #201E50;

  --hover: #C4F1BE;

  --a: #C4F1BE;
  --b: #A2C3A4;
  --c: #869D96;
  --d: #525B76;
  --f: #201E50;

  --brs: 4px;
}